<head>
    <link rel="stylesheet" href="static\css\styles.css" type="text/css">
{#    <script type="text/javascript" src="static\js\dropdownMenu.js"></script>#}
    <meta charset="UTF-8" name="viewport" content= "width=device-width, user-scalable=no">
    <title>Error 404</title>
</head>

<script type="text/javascript" src="static\js\dropdownMenu.js"></script>

<body class="body_error">
</br>
<center> <h3 class="homepage"> Go back to <button class="btn-homepage" type="button" onclick="pageRedirect()"> homepage</button></h3> </center>
</body>
</html>