<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Homework assign</title>
    <link rel="stylesheet" href="static\css\styles.css" type="text/css">
    <script type="text/javascript" src="static\js\dropdownMenu.js"></script>

</head>

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/register_laboratories">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
      <a href="/assignHomework">Assign homework</a>
      <br></br>
      <p class="username"> Logged as: {{ name }} </p>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<body class="body_student">
<form method="POST">
{{ form.hidden_tag() }}

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

        <center><p>Assign the homework:

            {{ form.title.label() }}
{#            {{ form.title(class="control-group") }}#}

        <select name="title">
              {% for titleHomework in title %}
                  <option value="{{ titleHomework.title }}">{{  titleHomework.title }}</option>
              {% endfor %}
        </select>

        to the group:

        {{ form.group.label() }}
        <select name="group">
          {% for item in group %}
              <option value="{{ item.group }}">{{ item.group }}</option>
          {% endfor %}
        </select>
        </p>
        </center>

  {{  form.submit(class="btn") }}

</form>
</body>
</html>