<link rel="stylesheet" href="static\css\styles.css" type="text/css">
<script type="text/javascript" src="static\js\dropdownMenu.js"></script>

{% from "_formhelpers.html" import render_field %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/register">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
</div>

<span style="font-size:30px;cursor:pointer; color: #0bdb00" onclick="openNav()">&#9776; Menu</span>

<body class="body_student">
{#<img src="static\images\3.jpg">#}

<div class="login">

    <div class="login-screen">
    <div class="login-form">
        <div class="app-title">
				<h1>Student Login</h1>
        </div>
<form method=POST>
{{ form.hidden_tag() }}
  <dl>
      {% if form.username.errors %}
            {{ form.username(class="control-group is-invalid")}}
        <div class="invalid-feedback">
            <span>{{ form.username.errors[0] }}</span>
        </div>
       {% else %}
          <div> {{ form.username.label() }} </div>
             {{ form.username(class="control-group") }}
             {% if wrong_username %}
                 {{ wrong_username }}
             {% endif %}
       {% endif %}
        <div> {{ form.password.label() }} </div>
      {{ form.password(class="control-group")}}
        {% if wrong_password %}
             {{ wrong_password }}
        {% endif %}

  </dl>
   {{ form.submit(class="btn")}}
</form>

    <p>Don't have an account?
        <a href="/register_student">Register here</a>
    </p>

    </div>
    </div>
</div>
{#</div>#}