<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="static\css\styles.css" type="text/css">
<script type="text/javascript" src="static\js\dropdownMenu.js"></script>

{% from "_formhelpers.html" import render_field %}

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/register_laboratories">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
</div>

<span style="font-size:30px;cursor:pointer; color: #000000" onclick="openNav()">&#9776; Menu</span>

<body class="body_profesor">
<div class="register">
    <div class="register-screen">
    <div class="register-form">
        <div class="app-title">
				<h1>Teacher Register</h1>
        </div>
<form method=post>
{{ form.hidden_tag() }}
  <dl>
        <div> {{ form.username.label() }} </div>
        {{ form.username(class="control-group") }}

       </br>{% if error_msg %}
            {{ error_msg }}
        {% endif %}

        {% if error_format_username %}
            {{ error_format_username }}
        {% endif %}

      <div class="container">
      <div>  {{ form.password.label() }} </div>
        {{ form.password(class="control-group") }}
      <i class="far fa-eye" id="togglePassword"></i>

      </br>{% if password_len %}
            {{ password_len }}
        {% endif %}
      </div>
        <div class="container">
        <div> {{ form.confirm.label() }} </div>
        {{ form.confirm(class="control-group") }}
        <i class="far fa-eye" id="togglePassword"></i>
          </br>
            {% if password_match %}
            {{ password_match }}
        {% endif %}
      </div>
  </dl>
  {{  form.submit(class="btn") }}
</form>
    </div>
<script type="text/javascript" src="static\js\passwordField.js"></script>
</div>
</div>