<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="static\css\styles.css" type="text/css">
<script type="text/javascript" src="static\js\dropdownMenu.js"></script>


{% from "_formhelpers.html" import render_field %}

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/register_laboratories">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
      <a href="/assignHomework">Assign homework</a>
</div>

<span style="font-size:30px;cursor:pointer; color: #000000" onclick="openNav()">&#9776; Menu</span>

<body class="body_student">
<div class="body_student">
<div class="register">
    <div class="register-screen">
    <div class="register-form">
        <div class="app-title">
				<h1>Student Register</h1>
        </div>
<form method=post>
{{ form.hidden_tag() }}
  <dl>
        <div class="customLabel"> {{ form.email.label() }} </div>
        {{ form.email(class="control-group") }}
  </br>
        <span style="color: red">
            {% if email_len %}
            {{ email_len }}
        {% endif %}

        {% if email_invalid %}
            {{ email_invalid }}
        {% endif %}

        </span>
        <div class="customLabel"> {{ form.username.label() }} </div>
        {{ form.username(class="control-group") }}

       </br>
      <span style="color: red">
          {% if error_msg %}
            {{ error_msg }}
            {% endif %}

            {% if error_format_username %}
                {{ error_format_username }}
            {% endif %}
      </span>

        <div class="customLabel"> {{ form.nr_matricol.label() }} </div>
        {{ form.nr_matricol(class="control-group") }}

       </br>
        <span style="color: red">
      {% if error_format_nr_matricol %}
            {{ error_format_nr_matricol }}
        {% endif %}

      {% if nr_matricol_error %}
            {{ nr_matricol_error }}
        {% endif %}

        </span>

        <div class="customLabel"> {{ form.type.label() }} </div>

             <select name="type" class="dropdown-select">
                    {% for t in type %}
                        <option value="{{ t }}">{{ t }}</option>
                    {% endfor %}
            </select>

        <div class="customLabel"> {{ form.year.label() }} </div>

        <select name="year" class="dropdown-select">
            {% for y in year %}
                <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
        </select>

      <div class="customLabel"> {{ form.group.label() }} </div>
              <select name="group" class="dropdown-select">
            {% for g in group %}
                <option value="{{ g }}">{{ g }}</option>
            {% endfor %}
        </select>

      <div class="container">

      <div class="customLabel">  {{ form.password.label() }} </div>
        {{ form.password(class="control-group2") }}
        <i class="far fa-eye" id="togglePassword"></i>
      </br>
     <span style="color: red">
      {% if password_len %}
            {{ password_len }}
        {% endif %}
     </span>

      <div class="customLabel"> {{ form.confirm.label() }} </div>
            {{ form.confirm(class="control-group2") }}
            <i class="far fa-eye" id="toggleConfirm"></i>
        </br>
      </div>
       <span style="color: red">
            {% if password_match %}
            {{ password_match }}
        {% endif %}
  </span>
  </dl>
  {{  form.submit(class="btn") }}
</form>
    </div>
<script type="text/javascript" src="static\js\passwordField.js"></script>
</div>
</div>
</div>