<link rel="stylesheet" href="static\css\styles.css" type="text/css">
<script type="text/javascript" src="static\js\dropdownMenu.js"></script>

{% from "_formhelpers.html" import render_field %}

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/laborator">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<div class="register">
    <div class="register-screen">
    <div class="register-form">
        <div class="app-title">
				<h1>Laborator</h1>
        </div>
<form method=post>
{{ form.hidden_tag() }}
  <dl>
      <div> {{ form.title.label() }} </div>
          {{ form.title(class="control-group") }}

        </br>
        {% if empty_title %}
                    {{ empty_title }}
        {% endif %}

        </br>
        {% if wrong_title %}
            {{ wrong_title }}
        {% endif %}

        </br>
        {% if format_title_error %}
            {{ format_title_error }}
        {% endif %}

      <div> {{ form.content.label() }} </div>
          {{ form.content(class="control-group") }}

      </br>{% if empty_content %}
                {{ empty_content }}
            {% endif %}

       </br>{% if wrong_content %}
            {{ wrong_content }}
        {% endif %}

  </dl>
  {{  form.submit(class="btn") }}
</form>
    </div>
    </div>
</div>
