<link rel="stylesheet" href="static\css\styles.css" type="text/css">
<script type="text/javascript" src="static\js\dropdownMenu.js"></script>

{% from "_formhelpers.html" import render_field %}

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/register_laboratories">Laboratoare</a>
      <a href="/note">Note</a>
      <a href='/logout'>Logout</a>
      <a href='/register_teacher'>Teacher Registration</a>
      <a href="/register_student">Student Registration</a>
      <a href="/upload">Homework upload</a>
</div>

<span style="font-size:30px;cursor:pointer; color: #000000" onclick="openNav()">&#9776; Menu</span>
{% extends "base.html" %}

{%block title%} Laboratoare {%endblock title%}

{% block contents %}
 <h1><center>Laboratoare</center></h1>
    <table>
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
    {% for labItem in laborator %}

            <tr>
                <td> {{ labItem.title  }}</td>
                <td> {{ labItem.content  }}</td>
            </tr>

    {% endfor %}
            </table>
{% endblock contents %}
</body>